body {
    text-align: center;
    position: relative;
    height: 97vh;
    background: white;
}

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}

h1 {
    font-size: 50px;
}